h1 {
    margin-bottom: 30px;
}

.leftimg {
    float:left;
    margin: 0 10px 10px 0;
}

section {
    min-width: 600px;
    max-width: 1000px;
}

.btn {
    background-color: black;
    color:aliceblue;
    height:50px;
    width:374px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;

}